@media only screen and (min-width: 992px) {
  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 28px;
    margin: 38px 0;
  }

  h3 {
    font-size: 24px;
    margin-bottom: 0px;
  }

  /* Page: .about-us */
  .about-us .social-media-icon {
    margin: 5px 10px;
  }

  /* Page: .contact */
  .contact iframe {
    width: 450px;
    height: 200px;
  }
}
