footer {
  width: 100%;
  height: 130px;
  padding-top: 15px;
  bottom: 0px;
  background-color: #002D45;
  border-top: 10px solid #eee;
  z-index: 100;
}

footer .footer {
  float: left;
  text-align: center;
  background-size: 50px auto;
  width: 100%;
  padding: 0 20px;
}

footer, .push {
  height: 100px; /* sticky footer: .push must be the same height as .footer */
}

footer p {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #fff;
}

.red {
  color: rgba(255, 0, 0, 0.8);
}

footer p a {
  color: #0192E0;
}
