@media only screen and (min-width: 481px) {

  /* Page: .about-us */
  .about-us h1 {
    font-size: 32px;
  }
  .about-us h2 {
    font-size: 24px;
  }
  .about-us h3 {
    font-size: 22px;
  }
  .about-us .social-media-icon {
    width: 35px;
    margin: 5px 3px;
  }
}
