@media only screen and (min-width: 481px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
    line-height: 28px;
  }
  h3 {
    font-size: 22px;
    font-weight: 600;
  }
  .container p {
    font-size: 16px;
  }

  /* Page: .about-us */
  .about-us .social-media-icon {
    width: 35px;
    margin: 5px 3px;
  }
}
