/* Page: .about-us */
.about-us h3 {
  margin-top: 0;
  font-size: 18px;
  color: #00679E;
}

.about-us .public-links {
  text-align: center;
  margin-top: 5px;
  max-width: 240px;
}

.about-us .member:nth-of-type(1) {
  margin-bottom: 25px;
}

.about-us .member-img {
  max-width: 100%;
  height: auto;
}

.about-us .social-media-icon {
  width: 32px;
  margin: 2px;
}



/* Page: .contact */
.contact .social-media-icon {
  width: 20px;
  margin-right: 2px;
}

.contact .container ul li {
  margin-bottom: 30px;
}
