@media only screen and (min-width: 769px) {
  h1 {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 22px;
  }
  body > div.container {
    padding: 80px 60px 50px 60px;
  }
  hr.page-separator {
    margin: 50px 0;
  }

  hr.paragraph-separator {
    margin: 15px 0;
    border-color: #004164;
  }

  .container-fluid > .navbar-header {
    margin-right: 40px;
    margin-left: 40px;
  }

  /* Page: .about-us */
  .about-us .social-media-icon {
    margin: 4px 10px;
  }

  /* Page: .contact */
  .contact ul li.map {
    float: right;
  }

}
