<form ng-submit="logIn()">
  <div class="modal-header">
    <h3 class="modal-title">Log In</h3>
  </div>

  <div ng-show="authenticating">Authenticating ...</div>

  <div class="modal-body">
    E-mail:
    <input type="email" required placeholder="your@email.com" ng-model="user.email" />
    Password:
    <input type="password" required placeholder="Your password" ng-model="user.password" />
  </div>

  <div class="modal-footer">
    <button class="btn btn-warning" ng-click="close()">Cancel</button>
    <button class="btn btn-primary" type="submit">Log me in</button>
  </div>
</form>
