.publishedDate { color: grey; font-style: italic; }
.follow-me { font-style: italic; }
.loading { font-style: italic; color: darkgrey; font-size: 1.2em; }

h1.logo a { color: red; }
h1.logo a:hover { text-decoration: none; }
