<!DOCTYPE html>
<html ng-app="app" ng-controller="MainController">
  <head>
    <title ng-bind="title">Pay Per Task</title>
    <base href="/">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <script defer src="/bower_components/angular/angular.js"></script>
    <script defer src="/bower_components/angular-route/angular-route.js"></script>
    <script defer src="/bower_components/angular-animate/angular-animate.js"></script>
    <script defer src="/bower_components/angular-cookies/angular-cookies.js"></script>
    <script defer src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script defer src="/assets/notifications.js"></script>
    <script defer src="/routes.js"></script>
    <script defer src="/app.js"></script>
    <script defer src="/services.js"></script>
    <script defer src="http://www.google-analytics.com/analytics.js"></script>
    <script defer src="/directives.js"></script>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/app.css">
  </head>

  <body>
    <header class="navbar navbar-default">
      <div class="content">
        <div class="pull-left">
          <a id="logo" role="button" href="/">PAY PER TASK</a>

          <span id="main-navigation">
            <page link="/pricing">Pricing</page> |
            <page link="/about-us">About Us</page> |
            <page link="/contact">Contact</page>
          </span>
        </div>

        <div class="pull-right">
          <!-- Authenticated user. -->
          <ul class="nav dropdown">
            <div ng-show="currentUser.loggedIn" id="right-corner" class="dropdown">
              <div data-toggle="dropdown" class="dropdown-toggle">
                <img ng-src="{{currentUser.gravatarLink}}" ng-show="currentUser.gravatarLink" alt="ACCOUNT" />
                <i class="fa fa-caret-down"></i>
              </div>

              <ul class="dropdown-menu" role="menu" id="account-dropdown">
                <li role="presentation" class="dropdown-header">This week</li>
                <div ng-repeat="(title, statistic) in currentUser.stats">
                  <li role="text"><strong>{{title}}:</strong> <em>{{statistic}}.</em></li>
                </div>
                <li role="presentation" class="divider"></li>
                <li role="presentation" class="dropdown-header">Your Account</li>
                <li role="menuitem"><a href="{{Links.profile}}">Your Profile</a></li>
                <li role="menuitem"><a href ng-click="logOut()">Log out</a></li>
              </ul>
            </div>
          </ul>

          <!-- Unauthenticated user. -->
          <div ng-hide="currentUser.loggedIn">
            <a href ng-click="displayLogInDialog()">LOG IN</a>
          </div>
        </div>
      </div>
    </header>

    <div class="container">
      <div ng-view><i class="fa fa-spinner"></i></div>
      <div class="push"></div>
    </div>

    <footer>
      <div class="footer">
        Built with ♥ and whisky in our veins.
      </div>
    </footer>
  </body>
</html>
