<!DOCTYPE html>
<html ng-app="app" ng-controller="MainController">
  <head>
    <title ng-bind="title">Pay Per Task</title>
    <base href="/">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <script defer src="/bower_components/angular/angular.min.js"></script>
    <script defer src="/bower_components/angular-route/angular-route.min.js"></script>
    <script defer src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script defer src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script defer src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script defer src="/assets/notifications.js"></script>
    <script defer src="/routes.js"></script>
    <script defer src="/app.js"></script>
    <script defer src="/services.js"></script>
    <script defer src="http://www.google-analytics.com/analytics.js"></script>
    <script defer src="/directives.js"></script>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/app.css">
  </head>

  <body>
    <nav class="navbar navbar-default" ng-controller="NavbarController">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed" aria-expanded="true">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Pay Per Task</a>
      </div>

      <div class="navbar-collapse collapse in" collapse="isCollapsed" aria-expanded="true">
        <ul class="nav navbar-nav">
          <li class="{{currentPath == '/' ? 'active' : ''}}">
            <a href="/" ng-click="isCollapsed = !isCollapsed">
              Why Pay-Per-Task? <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="{{currentPath == '/pricing' ? 'active' : ''}}">
            <a href="/pricing" ng-click="isCollapsed = !isCollapsed">Pricing <span class="sr-only">(current)</span></a>
          </li>
          <li class="{{currentPath == '/about-us' ? 'active' : ''}}">
            <a href="/about-us" ng-click="isCollapsed = !isCollapsed">About us <span class="sr-only">(current)</span></a>
          </li>
          <li class="{{currentPath == '/contact' ? 'active' : ''}}">
            <a href="/contact" ng-click="isCollapsed = !isCollapsed">Contact <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

    <div class="container">
      <div ng-view><i class="fa fa-spinner"></i></div>
      <div class="push"></div>
    </div>

    <footer>
      <div class="footer">
        Built with ♥ and whisky in our veins.
        <a href="https://twitter.com/paypertask">@paypertask</a> {{year}}
      </div>
    </footer>
  </body>
</html>
