<div class="about-us">
  <h1>About us</h1>

  <h2>"We're passioned about technologies and efficient work"</h2>

  <div class="row member">
    <div class="col-xs-4">
      <img src="http://placehold.it/85x85">
      <div class="public-links">
        <a href="https://github.com/botanicus" target="_blank" class="github"><img src="/assets/pics/github_32_black.png" /></a>
        <a href="https://twitter.com/botanicus" target="_blank" class="twitter"><img src="/assets/pics/twitter_icon.png" /></a>
      </div>
    </div>
    <div class="col-xs-8">
      <h3>James C. Russel</h3>
      <p>Proin mattis magna at neque ultrices, at cursus lectus lacinia. Vivamus blandit vel leo eget efficitur. Vestibulum lorem metus, efficitur sit amet tempor a, egestas id neque.
      </p>
      <p class="hidden-xs">Maecenas quis mauris vitae quam tristique dignissim. Pellentesque non molestie tortor, non aliquet magna. Cras ultrices bibendum felis ut iaculis. Ut erat neque, placerat ut nisi et, vulputate tristique nisl. Suspendisse et sem nec risus lobortis consectetur a ac libero. Pellentesque nec congue tortor. Donec quis arcu suscipit, interdum leo et, semper nulla. </p>
    </div>
  </div>

  <div class="row member">
    <div class="col-xs-4">
      <img src="http://placehold.it/85x85">
      <div class="public-links">
        <a href="https://github.com/palin" target="_blank" class="github"><img src="/assets/pics/github_32_black.png" /></a>
        <a href="http://blog.palinium.com" target="_blank" class="info"><img src="/assets/pics/info_icon.png" /></a>
      </div>
    </div>
    <div class="col-xs-8">
      <h3>Maciej Palinski</h3>
      <p>Proin mattis magna at neque ultrices, at cursus lectus lacinia. Vivamus blandit vel leo eget efficitur. Vestibulum lorem metus, efficitur sit amet tempor a, egestas id neque.</p>
      <p class="hidden-xs">Maecenas quis mauris vitae quam tristique dignissim. Pellentesque non molestie tortor, non aliquet magna. Cras ultrices bibendum felis ut iaculis. Ut erat neque, placerat ut nisi et, vulputate tristique nisl. Suspendisse et sem nec risus lobortis consectetur a ac libero. Pellentesque nec congue tortor. Donec quis arcu suscipit, interdum leo et, semper nulla. </p>
    </div>
  </div>
</div>
