<div class="contact">
  <h1>Get in touch</h1>

  <ul>
    <li>
      <p>If you have any questions or suggestions, please <a href="mailto:info@pay-per-task.com">drop us an email</a>.</p>
    </li>
    <li>
      <p>We're based in <a href="https://www.google.com/maps/place/London,+UK/@51.5286416,-0.1015987,11z/data=!3m1!4b1!4m2!3m1!1s0x47d8a00baf21de75:0x52963a5addd52a99">London, UK</a> and we're really friendly guys, especially after few beers.</p>
    </li>
    <li>
      <p>Make sure you follow <a href="https://twitter.com/paypertask"><img src="/assets/pics/twitter.png" class="social-media-icon" />paypertask</a> on Twitter!</p>
    </li>
  </ul>
</div>
