* {
  font-size: 25px;
}

/* Landing pages. */
.spell { font-size: 30px; font-style: italic; }

/* Pricing page. */
.price {
  font-size: 1.25em;
  color: lightgreen;
}

#switch-to-year, #switch-to-month {
  font-style: italic;
}
